# Info about total configuration.
# Params:
# 	mode (Str) - mode of programm work. 
# 		Values:
#			1. TRANS - Generate only transparent images;
#			2. OVERLAID - Overlay transparent images on backgrounds; 
#			3. TOTAL - Do both;
[MAIN-INFO]
mode = TOTAL

# Paths to folders to/from which programm will take/save images or models.
# Params:
# 	backgroungs_folder (Str) - path to folder with background images. 
# 	models_folder (Str) - path to folder with models. 
# 	trans_images_folder (Str) - path to folder with transparent imagrs.
# 	overlaid_images_folder (Str) - path to folder with overlaid images. 
#	annotation_folder (Str) - path to folder to save annotation of generated image.
#	Annotation:
#		<object-class> <x> <y> <width> <height>
[FOLDERS]
backgrounds_folder = /home/dmitry/
models_folder = /home/dmitry/
trans_images_folder = /home/dmitry/
overlaid_images_folder = /home/dmitry/
annotations_folder = /home/dmitry/

# Lists of files which programm will use to generate data.
# List Info: 
# 	Format: "Value1, Value2". Delimitr is ", ". 
# 	Purpose: Represents set of values.
# Params:
# 	backrounds (List Strs) - filenames of background images in !!! backgroungs_folder !!!.
# 	models (List Strs) - filenames of models in !!! models_folder !!!.  
[FILES]
backgrounds = cleasky.jpg, cloudy.png
models = F14.obj, 21.obj

# Parametrs to set model spatial position.
# Tuple Info: 
# 	Format: "Value1 : Value2" !!! 
# 	Purpose: Represents diaposone. If Value1 == Value2 then it has fixed value.
# 		     Programm will randomly choose the value from this set.
# Params:
# 	size_x (Int : Int) - diaposone for size on X.
# 	size_y (Int : Int) - diaposone for size on Y.
# 	rotation_x (Int : Int) - rotation diaposone around X in degrees.
# 	rotation_y (Int : Int) - rotation diaposone around Y in degrees.
# 	rotation_z (Int : Int) -  rotation diaposone around Y in degrees.
[MODEL-POSITION]
size_x = 120 : 120
size_y = 120 : 120
rotation_x = 0 : 360
rotation_y = 0 : 360
rotation_z = 0 : 360

# Effects which will be overlaid om final image.
# Params:
#	blur (Int) - Blur. 
#		Values: 
#			http://www.imagemagick.org/script/command-line-options.php#blur
# 	noise (Str) - Noise type form imagemagick. 
#		Values: 
#			http://www.imagemagick.org/script/command-line-options.php#noise
[EFFECTS]
blur = 20
noise = Gaussian

# Classes for Neural Net classification.
# Params:
# 	model_map (List Str : Str) - Maps Model with Classname.
#	textinfo_file (Str) -  
[CLASSES]
model_map = f14 : aeroplane, eagle : bird, hawk : bird 





