# Main info for generation.
# Params:
# 	images_number - number of images.
[MAIN-INFO]
images_number = 50000

# Paths to folders to/from which programm will take/save images or models.
# Params:
#   !!! All must end with '/' !!!
# 	backgroungs_folder (Str) - path to folder with background images. 
# 	models_folder (Str) - path to folder with models. 
# 	overlaid_images_folder (Str) - path to folder with overlaid images. 
#	annotation_folder (Str) - path to folder to save xml-annotation of generated image.
[FOLDERS]
backgrounds_folder = /home/dmitry/Data/neural-planes/backgrounds/
models_folder = /home/dmitry/Data/neural-planes/models/
images_folder = /home/dmitry/Data/neural-planes/images/
annotations_folder = /home/dmitry/Data/neural-planes/annotations/

# Lists of files which programm will use to generate data.
# List Info: 
# 	Format: "Value1, Value2". Delimitr is ", ". 
# 	Purpose: Represents set of values.
# Params:
# 	backrounds (List Strs) - filenames of background images in !!! backgroungs_folder !!!.
# 	models (List Strs) - filenames of models in !!! models_folder !!!.  
[FILES]
backgrounds = clearsky.jpg
models = f14/F-14A_Tomcat.obj

# Parametrs to set model spatial position.
# Tuple Info: 
# 	Format: "Value1 : Value2" !!! 
# 	Purpose: Represents diaposone. If Value1 == Value2 then it has fixed value.
# 		     Programm will randomly choose the value from this set.
# Params:
# 	size (Int : Int) - diaposone for (size x size).
# 	rotation_x (Int : Int) - rotation diaposone around X in degrees.
# 	rotation_y (Int : Int) - rotation diaposone around Y in degrees.
# 	rotation_z (Int : Int) -  rotation diaposone around Y in degrees.
[MODEL-POSITION]
size = 120 : 120
rotation_x = 0 : 360
rotation_y = 0 : 360
rotation_z = 0 : 360

# Effects which will be overlaid on final image.
# Params:
# 	noise (Str) - Noise type form imagemagick. 
#		Values: 
#			http://www.imagemagick.org/script/command-line-options.php#noise
#	blur (Int) - Blur. 
#		Values: 
#			http://www.imagemagick.org/script/command-line-options.php#blur
[EFFECTS]
noise = Gaussian
blur = 20

# Classes for Neural Net classification.
# Params:
# 	model_map (List Str : Str) - Maps Model with Classname.
#	textinfo_file (Str) -  
[CLASSES]
model_map = f14/F-14A_Tomcat.obj : aeroplane





